.titulo{
  color: rgb(128, 54, 20);
  font-size: 20px;
  

}

.toby{
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.App{
  text-align: center;
  margin: 0px;
  max-width: 800px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(211, 211, 211);

}

button{
  border-radius: 10px;
  height: 50px;
  width: 65px;
  background-image: url(./assets/shit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% auto;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

button:hover{
  transition: 200ms;
  height: 60px;
  width: 75px;
}

button:focus{
  transition: 400ms;
  height: 50px;
  width: 65px;
}

.msg.a{
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
}